:root {
	font-family: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--primary-color: #161a25;
	--secondary-color: #241d31;
	--tertiary-color: #312236;
	--accent-color: #d363b1;
	--cta-color: #2d52b6;
	--correct-color: #15a850;
	--error-color: #ac2847;
	--before-color: #e38f2f;
	--before-text-color: #f6ecd9;
	--after-color: #567de8;
	--after-text-color: #e4e3f3;
	--heading-color: rgba(255, 255, 255, 0.8);
	--text-color: #cccccc;
	--toastContainerLeft: calc(50vw - 8rem);
	--toastContainerTop: 2rem;
	--toastContainerRight: auto;
	--toastBarHeight: 0;
	--toastBackground: var(--tertiary-color);
	--toastMsgPadding: 0.75rem 2rem;
}

body, html {
	margin: 0; padding: 0;
}

body {
	color: var(--text-color);
	background: var(--tertiary-color);
}

#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

h1,
h2,
h3,
p {
	font-weight: 400;
	color: var(--heading-color);
}

p {
	line-height: 1.5;
}

a {
	color: var(--accent-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 1.6rem;
	text-align: center;
}

input,
button {
	cursor: pointer;
	font-size: inherit;
	font-family: inherit;
}

button {
	color: var(--text-color);
	background: var(--primary-color)
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 480px) {
	h1 {
		font-size: 1.8rem;
	}
}
